<%- include("header") -%>
    <form method="post" action="./add-chores">
      <label htmlfor="chores">Enter your Chores: </label>
      <br />
      <textarea name="chores" id="chores" required rows="10" columns="10">
      </textarea>
      <br />
      <button type="submit">Add Chores</button>
    </form>
    <button href="/">Home</button>
<%- include("footer") -%>